
msys2-x86_64-20230318.exe
rust-1.68.0.zip
rust/
sqliteexemplo/target/
sqlitewindows/target/
sqlitelinux/target/
sqlitelinuxbasic/target/
outros/target/
server/target/
neural/target/
neural2/target/
neural3/target/
chatp2p/target/
console/target/
simple-server/target/
tanglecript/target/
#sqlitewindows/target/.rustc_info.json
arquivosplit/target/
arquivosplit/target/.rustc_info.json
arquivosplit/target/debug/arquivosplit.d

estimulo/target/
unimatrix/target/
chatbot/target/
perceptron/target/
mlp/target/
gpt/target/
mlpmercadofinanc/target/
mlpcotacao/target/
mlpcotacao2/target/
mlpxor/target/


outros/chatbot/target/
outros/perceptron/target/
outros/mlp/target/
outros/gpt/target/
caminho/para/libsqlite3-sys/
