
msys2-x86_64-20230318.exe
rust-1.68.0.zip
rust/
sqliteexemplo/target/
sqlitewindows/target/
sqlitelinux/target/
sqlitelinuxbasic/target/
outros/target/
server/target/
neural/target/
neural2/target/
chatp2p/target/
console/target/
simple-server/target/
tanglecript/target/
#sqlitewindows/target/.rustc_info.json
arquivosplit/target/
arquivosplit/target/debug/arquivosplit.d
arquivosplit/target/.rustc_info.json
arquivosplit/target/debug/arquivosplit.d
arquivosplit/Cargo.lock
